.painel {
    border: 1px solid #5d6f67;
    background-color: #e9c897;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.painel p, .painel h2 {
    margin: .3rem 0;
}

#local {
    color: #5d6f67;
}

#descricao {
    text-transform: capitalize;
    color:  #5d6f67;
}

#temperatura {
    font-size: 2rem;
    color: aquamarine;
}


#icone-do-clima {
    width: 100px;
    height: 100px;
}

body h1 {
    
    color: rgb(1, 9, 17);
    
}